<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
		  <li>Контакти</li>
          <li><a href="http://{{ site.url }}" target="_blank">{{ site.url }}</a></li>
		  <li>Приймальна комісія: </li>
		  <li>{{ site.comision }}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <nav class="social-media-list">
          {% include icons.html %}
        </nav>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
